Проект:			“Строительный калькулятор”
Цель проверки:		Проверка критически важного функционала (Правовые требования)
Идентификатор ID:	ID.9
Требование:		Тех_задание_1_Строительный_калькулятор.pdf, пункт 6, 6.10
Дата проведения:	
Исполнитель:		Маврин В.А.
Среда тестирования:	PC,Windows 10, Microsoft Edge Версия 121.0.2277.112 (Официальная сборка) (64-разрядная версия)

Наименование тестов		Приоритет		Функционал			Результат
----------------------------------------------------------------------------------------------------
Проверка нажатия менеджером 	Высокий(High)		Правовые требования
на кнопку согласия обработки 
персональных данных клиента
----------------------------------------------------------------------------------------------------
Проверка занесения информации 	Высокий(High)		Правовые требования
в карточку пользователя о 
подтверждении на обработку 
персональных данных
