.container-fluid {
    margin-left: inherit;
    margin-left: inherit;
}


.edit-button {
    margin-left: 20px;
    width: 12%;
}

.create-calc {
    width: 12%;
    margin-top: 10px;
    margin-left: 20px;

}


.card-text {
    margin-top: 40px;
    margin-right: 120px;

    user-select: none;
    color: #1A2F63;
}

.pers-nav-body {
    margin-top: 20px;
    margin-left: 20px;
}

.nav {
    float: left;
    position: relative;
    user-select: none;
    color: #1A2F63;
}

.arrow-right {
    float: left;
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
}

.nav::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #311e1e;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}


.nav:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.question-header {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
}

.nav-body {
    margin-left: 11px;
}

.client-bar {
    margin-top: 150px;
    margin-left: 20px;
    position: fixed;
}

.client-bar button,
.client-bar div {
    display: inline-block;
}

.client-bar button {
    margin-right: 10px;
}

.client-bar div {
    
}

.status-dropdown {
    position: relative;
    display: inline-block;
}

.status-dropdown>div {





    z-index: 1;
}

.status-dropdown button {



    text-align: center;
    text-decoration: none;
    display: inline-block;
    

    cursor: pointer;
}

.status-dropdown button:hover {}