ID Тест-Кейса		Название проекта		Модуль			Описание теста			Ожидаемый результат			Приоритет		Дата проведения		Исполнитель		Среда тестирования		Статус(Успешно, Не тестировано, Тестирование)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ID.1			Строительный калькулятор	Правовые требования	Проверка нажатия менеджером 	Менеджер успешно нажал на кнопку 	Высокий(High)					Маврин В.А.		PC,Windows 10, Microsoft	Не тестировано
										на кнопку согласия обработки  	обработки персональных данных											Edge Версия 121.0.2277.112
										персональных данных клиента															(Официальная сборка)
																												(64-разрядная версия)
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
ID.2			Строительный калькулятор	Правовые требования	Проверка занесения информации  	При нажатии кнопки подтверждения 	Высокий(High)					Маврин В.А.		PC,Windows 10, Microsoft	Не тестировано
										в карточку пользователя о 	персональных данных, информация о 										Edge Версия 121.0.2277.112
										подтверждении на обработку 	согласии клиента заносится в карточку 										(Официальная сборка)
										персональных данных		пользователя													(64-разрядная версия)
